#about {
  width: clamp(350px, 100%, 100vw);
  min-height: 100vh;
  margin: 2rem 0 0 0;
  padding: 1.25rem 1.5rem;
  box-sizing: border-box;
}
.about-header {
  min-width: fit-content;
  text-align: center;
  color: var(--color-primary);
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  font-size: clamp(26px, 1.5rem, 2.35rem);
  font-family: "Bebas Neue", sans-serif;
  position: relative;
}
.about-header::after {
  content: "";
  width: 40%;
  position: absolute;
  bottom: 100;
  background: #000;
  padding: 2px;
  left: 50%;
  transform: translate(-50%, 50%);
}
.describe-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.28rem;
  flex-wrap: wrap;
  padding: 1rem;
  flex-grow: 1;
}
