#about {
  width: clamp(350px, 100%, 100vw);
  min-height: 100vh;
  margin: 2rem 0 0 0;
  padding: 1.25rem 1.5rem;
  box-sizing: border-box;
}
.about-header {
  min-width: fit-content;
  text-align: center;
  color: var(--color-primary);
  padding: 0.5rem 1rem;
  margin: 1rem auto 0.25rem auto;
  font-size: clamp(26px, 1.5rem, 2.35rem);
  font-family: "Bebas Neue", sans-serif;
  position: relative;
}
.describe-card-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  flex-wrap: wrap;
  padding: 0.25rem;
  overflow: visible;
}
#about-subtitle {
  font-family: "Bebas Neue", sans-serif;
  font-size: xx-large;
  text-align: center;
  color: var(--color-primary);
}
.description-container {
  width: 90vw;
  margin: 1rem auto;
}
.about-description {
  font-size: 1rem;
  color: var(--color-text);
  line-height: 1.75;
}
.f-para {
  font-style: italic;
}
