.describe-card {
  width: clamp(250px, 320px, 400px);
  height: clamp(400px, 420px, 100%);
  background: var(--color-secondary);
  padding: 0.75rem 1.25rem;
  place-items: center;
  border-radius: 20px;
  transition: box-shadow 250ms ease-in-out, filter 250ms ease-in-out;
  flex: 0.9;
  box-shadow: 0 5px 20px 2px rgba(163, 157, 149, 0.3);
}
.description {
  margin: 0.5rem 0 1rem 0;
}
.image-wrapper {
  width: 100%;
  height: auto;
  margin: 0.5rem auto;
  /* height: ; */
  overflow: hidden;
  border-radius: inherit;
}
.cardTitle {
  color: var(--color-accent);
  font-family: "Bebas Neue", sans-serif;
  width: max-content;
  position: relative;
}
.cardTitle::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2px;
  background: var(--color-primary);
  left: 0;
  border-radius: 3px;
}
.card-image {
  filter: brightness(80%);
  transition: scale 250ms ease-in-out, filter 250ms ease-in-out;
  object-fit: center;
  object-fit: cover;
}
.describe-card:hover {
  box-shadow: 0px 8px 25px 3px #a16d1456;
}
.describe-card:hover .card-image {
  scale: 1.25;
  filter: brightness(100%);
}
