.main-home {
  width: clamp(350px, 100%, 100vw);
  background: linear-gradient(rgba(24, 24, 24, 0.749), #8c58282f),
    url("../../assets/hero-bg2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 75vh;
  color: #fff;
}
.hero-section {
  font-size: 1rem;
  width: 90%;
  height: clamp(30vh, 58vh, 100vh);
  margin: 1.25rem auto;
  padding: 1.5rem 1.75rem;
  position: relative;
}

#title {
  font-size: clamp(2.6rem, 10vw, 15vh);
  font-family: "Noto Serif Display", serif;
  text-align: center;
  margin: 2rem auto;
  text-emphasis: circle;
  text-emphasis-position: under;
  text-emphasis-color: var(--color-accent);
}

#sub-title {
  font-family: Montserrat;
  font-size: clamp(1.2rem, 3vw, 1.75rem);
  color: var(--color-secondary);
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 0 0 1.65rem 0;
}
#more {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  margin: 0 auto 0.25rem auto;
  width: max-content;
  border: 1px solid white;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: border-radius 180ms ease-in, color 180ms ease-in;
  background: #ffffff19;
  backdrop-filter: blur(2px);
}
#more > span {
  scale: 0.8;
}
#more:hover {
  border-radius: 15px;
  background: var(--color-background);
  color: var(--color-text);
  cursor: pointer;
}
