.main-home {
  width: clamp(350px, 100%, 100vw);
  position: relative;
  min-height: 70vh;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(#1a15152b, #b0b0b044);
}
#hero-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  bottom: 0;
}
.hero-section {
  font-size: 1rem;
  width: 90%;
  height: clamp(30vh, 58vh, 100vh);
  margin: 1.25rem auto;
  padding: 1.5rem 1.75rem;
  position: relative;
  z-index: 5;
}

#title {
  /* font-size: clamp(2.6rem, 4rem, 10rem); */
  font-size: clamp(2.5rem, 6vw + 2rem, 5rem);
  font-family: "Noto Serif Display", serif;
  text-align: center;
  margin: 2rem auto;
  text-emphasis: circle;
  text-emphasis-position: under;
  text-emphasis-color: var(--color-accent);
}

#sub-title {
  font-family: Montserrat;
  font-size: clamp(1.2rem, 2.3vw, 1.75rem);
  color: var(--color-secondary);
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 0 0 1.65rem 0;
}
#more {
  position: absolute;
  left: 50%;
  color: #3c3c3c;
  border: 1px solid #fff;
  background: #292424c4;
  bottom: 0;
  transform: translate(-50%, 50%);
  /* margin: 0 auto 0.25rem auto; */
  width: max-content;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: border-radius 200ms ease-in, color 200ms ease-in;
  background: #ffffff19;
  backdrop-filter: blur(2px);
}
#more > span {
  scale: 0.8;
}
#more:hover {
  border-radius: 15px;
  background: var(--color-background);
  color: var(--color-text);
  cursor: pointer;
}
