* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #6d28d9;
  --color-secondary: #f5f5f5;
  --color-accent: #f59e0b;
  --color-text: #2b2b2b;
  --color-background: #f3f1eb;
  --color-border: #fffef6;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  /* width: clamp(350px, 100vw, 1800px); */
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 100%;
  background: var(--color-background);
  font-family: Montserrat, "Serif";
  overflow-x: hidden;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  font-style: italic;
}
a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
li {
  list-style-type: none;
  color: inherit;
}
input,
textarea,
select,
button {
  all: unset;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
