* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  font-size: 100%;
  font-family: "Noto Serif Display", serif;
}
:root {
  --color-primary: #6d28d9;
  --color-secondary: #f5f5f5;
  --color-accent: #f59e0b;
  --color-text: #333333;
  --color-background: #ffffff;
  --color-border: #d1d5db;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
  color: inherit;
}
input,
textarea,
select,
button {
  all: unset;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
