.navbar {
  width: clamp(350px, 100vw, 100%);
  height: clamp(5vh, 10vh, 12vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebebeb7f;
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.logo {
  padding: 1.25rem 0.75rem;
}
.logo > img {
  scale: 0.9;
  aspect-ratio: 16/ 5;
  transition: filter 220ms ease-out;
}
.logo > img:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px var(--color-accent));
}
